<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <style>
        div.card {
            margin: auto;
            width: 70%;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <% if(message) {%>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <%}%>
    <div class="card border-info">
        <div class="card-header text-info">
            Signup
        </div>
        <div class="card-body text-info">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>
    </div>
    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/popper.js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>